* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

.App {
  text-align: center;
  position: relative;
}

.sidepanel {
  position: fixed;
  width: 200px;
  height: 100vh;
  background-color: green;
}

.navbar {
  position: fixed;
  width: 100vw;
  height: 50px;
  background-color: blue;
  z-index: 1;
}

.dashboard {
  position: relative;
  top: 50px;
  left: 200px;
  width: calc(100vw - 220px);
  padding: 20px;
}

.dashboard-table {
  border: solid 2px gray; 
  overflow: hidden;
  border-radius: 5px;
  display: relative;
  width: 90%;
}

.dashboard-table table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.dashboard-table table th, td {
  padding: 10px 15px;
  text-align: left;
}

.dashboard-table table th {
  background-color: rgb(218, 214, 214);
  border-bottom: solid 2px gray;
  text-transform: capitalize;
}

.dashboard-table table th:not(:last-child) {
  border-right: solid 2px gray; 
}

.dashboard-table table tr:nth-child(2n) {
  background-color: rgb(248, 244, 244);
}

.dashboard-table table thead th:nth-child(1), th:nth-child(2) {
  width: 80px;
}

.dashboard-table table thead th:nth-child(4) {
  width: 105px;
}

.dashboard-table table tr:nth-child(2n+1) {
  background-color: rgb(235, 232, 232);
}

.dashboard-table table tr:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.dashboard-table table tr td:nth-child(4) {
  text-transform: capitalize;
}

.dashboard .modal-container {
  position: fixed;
  top: 50px;
  left: 200px;
  width: calc(100vw - 220px);
  height: 100vh;
  background-color: black;
  filter: opacity(0.4);
}

.dashboard .modal-container .modal {
  position: fixed;
  width: 500px;
  height: 200px;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(240, 37, 37);
  /* filter: opacity(1); */
}

.dashboard-pagination {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: calc(50% - 200px);
  right: 40px;
  height: 400px;
  border: solid 3px red;
}


.dashboard-pagination button {
  border: none;
  padding: 12px;
  border-radius: 50%;
}

.dashboard-pagination button:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.dashboard-pagination button:active {
  filter: brightness(0.5);
}
